In [601]:
import pandas as pd
import os

In [602]:
folder_path = 'D:/Big_Data_Project/data/'

In [603]:
df1=pd.read_csv(f'{folder_path}2017_2019_도로교통공단_광진구_행정동별_교통사고_현황.csv')
df2=pd.read_csv(f'{folder_path}LED바닥형 신호등.csv')
df3=pd.read_csv(f'{folder_path}공영주차장.csv')
df4=pd.read_csv(f'{folder_path}무인교통단속카메라.csv')
df5=pd.read_csv(f'{folder_path}서울시 광진구 안심이 CCTV 연계 현황.csv')
#df6=pd.read_csv(f'{folder_path}서울시 광진구 초등학교 기본정보.csv')
df7=pd.read_csv(f'{folder_path}서울시 범죄지도를 이용한 광진구 범죄율.csv')
df8=pd.read_csv(f'{folder_path}서울특별시 광진구_불법주정차 위반 단속 CCTV 위치정보_20220502.csv',encoding='cp949')
df9=pd.read_csv(f'{folder_path}시설관리공단 공영주차장.csv')
df10=pd.read_csv(f'{folder_path}어린이보호구역.csv')
df11=pd.read_csv(f'{folder_path}어린이집.csv')
df12=pd.read_csv(f'{folder_path}인구현황.csv')
# + 면적 관련 데이터

In [604]:
df1

    법정동명  사고건수
0    광장동   284
1   구의1동   204
2   구의2동   204
3   구의3동   204
4    군자동   273
5     능동   134
6   자양1동   206
7   자양2동   206
8   자양3동   206
9   자양4동   206
10  중곡1동   139
11  중곡2동   139
12  중곡3동   139
13  중곡4동   139
14   화양동   457

In [605]:
df1.rename(columns={'법정동명':'행정동'},inplace=True)

In [606]:
df2

            상세위치  수량          경도         위도    동명
0         중마초등학교   1  127.080740  37.565205  중곡3동
1    강변역(동서울터미널)   2  127.093405  37.535352  구의3동
2    강변역(동서울터미널)   1  127.094185  37.534538  구의3동
3          건대입구역   2  127.070201  37.539731  자양4동
4          건대입구역   1  127.070510  37.540337   화양동
5          건대입구역   1  127.071217  37.539000  자양3동
6           아차산역   2  127.089722  37.552597  중곡4동
7         광장초등학교   1  127.102329  37.546998   광장동
8         광진초등학교   1  127.088842  37.548652  구의2동
9         구의초등학교   1  127.083821  37.540945  구의1동
10        동자초등학교   1  127.071275  37.534306  자양3동
11        성자초등학교   1  127.082318  37.531590  자양1동
12        성자초등학교   1  127.082634  37.531619  자양1동
13        세종초등학교   1  127.072877  37.553024   군자동
14        신양초등학교   1  127.070078  37.535026  자양3동
15        양진초등학교   1  127.093848  37.542690  구의3동
16        자양초등학교   1  127.079005  37.537844  자양1동
17        장안초등학교   1  127.071058  37.549974   군자동
18        중광초등학교   1  127.083172  37.564395  중곡3동
19        화양초등학교   1  127.071912  37.543195   화양동
20        광진초등학교   1  127.091121  37.544829  구의2동
21          광진구청   1  127.083579  37.538574  자양1동
22          광진구청   1  127.083052  37.538128  자양1동
23       대원외고 인근   1  127.087131  37.563687  중곡4동
24       대원외고 인근   1  127.087237  37.563390  중곡4동
25        용곡초 인근   1  127.086923  37.564982  중곡4동
26        용마초 인근   1  127.088098  37.557774  중곡4동
27         구남초 앞   1  127.092596  37.535868  구의3동
28       광진소방서 앞   1  127.082778  37.544830  구의1동
29        동의초교 앞   1  127.098854  37.553694  구의2동
30       영화유치원 앞   1  127.097718  37.554054  구의2동
31        구남초등학교   1  127.093120  37.537260  구의3동
32        동자초등학교   1  127.075460  37.533300  자양3동
33        용곡초 인근   1  127.085871  37.568252  중곡3동
34         자양사거리   4  127.083770  37.536520  자양2동
35   올림픽대교북단 사거리   4  127.096300  37.541120   광장동
36       군자역 사거리   2  127.079820  37.557220  중곡2동
37       중곡역 사거리   2  127.084570  37.566310  중곡3동
38    구남초(일동후디스)   2  127.093020  37.537260  구의3동
39       군자교 사거리   2  127.074060  37.559490  중곡1동
40     삼성아파트 삼거리   2  127.094350  37.540140   광장동
41   어린이대공원 정문 앞   1  127.075350  37.549270   군자동
42         구의사거리   4  127.083310  37.539080  자양1동
43   청구이화유치원 사거리   1  127.094200  37.542790   광장동
44         중곡사거리   4  127.087690  37.559340  중곡4동
45        용마맨션 앞   1  127.086470  37.566330  중곡4동
46       노루페인트 앞   1  127.085480  37.560500  중곡2동
47    신양초등학교 사거리   1  127.068253  37.534953  자양3동
48       중곡1동사거리   4  127.079792  37.563149  중곡1동
49    국민은행 자양동지점   4  127.079680  37.531974  자양2동
50         광진경찰서   1  127.083715  37.543104  구의1동
51          서문도장   1  127.080517  37.537172  자양1동
52       우성1차아파트   1  127.074575  37.534374  자양3동
53        온아치과의원   1  127.070941  37.549569   군자동
54          한양연립   4  127.090339  37.534700  구의3동
55  새마을금고 구의3동지점   4  127.091298  37.534625  구의3동
56          조은빌딩   1  127.071223  37.554514   군자동

In [607]:
df2.rename(columns={'동명':'행정동'},inplace=True)

In [608]:
df2=df2.groupby('행정동').agg({'수량':'sum'})

In [609]:
df3['주차요금 5분당'].unique()

array(['250원', '0', '200원', '75원 ', '150원', '75원'], dtype=object)

In [610]:
df3['주차요금 5분당']=df3['주차요금 5분당'].replace('250원','250').replace('200원','200').replace('75원','75').replace('150원','150').replace('75원 ','75')

In [611]:
df3

      동명               시설명  주차면수 소계 주차요금 5분당          경도         위도
0   중곡1동       중곡제일전통시장 공영       21      250  127.081744  37.563863
1   중곡2동               장신구       22        0  127.084000  37.556402
2   중곡2동            중곡동복개천       78      200  127.086222  37.560139
3   중곡3동          중곡3동마을공원      162       75  127.084660  37.569907
4   중곡3동            중곡체육센터        6        0  127.084782  37.567763
5   중곡4동             신성시장길       33      250  127.089886  37.557289
6   중곡4동               새오름        7        0  127.090864  37.561379
7   중곡4동              용마산남       25        0  127.092061  37.559117
8   중곡4동            긴고랑길공영       53        0  127.094478  37.563863
9   중곡4동               해오름       20        0  127.091651  37.557036
10  중곡4동  뻥튀기골주차장(용마공원주차장)       18        0  127.089378  37.568318
11  중곡4동     중곡4동 599-6 인근        9        0  127.089358  37.570282
12  중곡4동             한림대부지        8        0  127.088880  37.568345
13    능동              능동공영       77      150  127.080217  37.554026
14    능동              능동공동       25        0  127.079673  37.553062
15  구의1동           구의1동 공영      172      150  127.087849  37.538253
16  구의1동              구의번영       34        0  127.089010  37.544235
17  구의2동        구의2동 주택가공동       90       75  127.092823  37.552917
18  구의2동              광문학당       12        0  127.090237  37.547928
19  구의2동         공원(동의초인근)       11        0  127.097339  37.553310
20  구의3동           동서울길 공영       94      250  127.091634  37.533150
21  구의3동           구의3동 공영      159      150  127.091347  37.539133
22  구의3동         올림픽대교(시영)       19        0  127.098904  37.538776
23   광장동                세촌        7        0  127.105526  37.548627
24   광장동             광장공동         8        0  127.101528  37.546423
25   광장동               큰나루       13        0  127.110315  37.550317
26  자양1동         자양전통시장 공영       24      250  127.081576  37.533779
27  자양2동               유수지      281      150  127.078268  37.529520
28  자양3동             송림식당길       94      200  127.076033  37.534432
29  자양4동           자양4동 공영       86      150  127.068162  37.538662
30  자양4동              행복제2       53        0  127.066308  37.540006
31   화양동        느티나무(화양공동)       27        0  127.071247  37.546598
32   화양동            화양동 공영       44      150  127.071155  37.545283
33   화양동          화양동 마을마당        6        0  127.075229  37.545055
34   군자동            군자동 공영       53        0  127.076913  37.554055
35   군자동           광진광장 공영       36      250  127.735722  34.742160

In [612]:
df3['주차요금 5분당']=df3['주차요금 5분당'].astype(int)

In [613]:
df3.rename(columns={'동명':'행정동'},inplace=True)

In [614]:
df3=df3.groupby('행정동').agg({'주차면수 소계':'sum','주차요금 5분당':'sum'})

In [615]:
df3=df3.reset_index()
df3

     행정동  주차면수 소계  주차요금 5분당
0    광장동       28         0
1   구의1동      206       150
2   구의2동      113        75
3   구의3동      272       400
4    군자동       89       250
5     능동      102       150
6   자양1동       24       250
7   자양2동      281       150
8   자양3동       94       200
9   자양4동      139       150
10  중곡1동       21       250
11  중곡2동      100       200
12  중곡3동      168        75
13  중곡4동      173       250
14   화양동       77       150

In [616]:
df4

               설치장소    동명         위도          경도
0       지너스타워 주차장 앞  구의3동  37.535349  127.093405
1      동서울터미널 주차장 앞  구의3동  37.533377  127.092166
2       리젠트오피스텔 건너편  구의3동  37.534539  127.094184
3          강변역 4번출구  구의3동  37.535169  127.094665
4   프라임아파트 정문(213동)  구의3동  37.536958  127.096537
5          강변역 1번출구  구의3동  37.535169  127.094665
6        현대2단지아파트 앞  구의3동  37.537871  127.096219
7         어린이대공원 정문    능동  37.547246  127.078304
8       서울시민안전체험관 앞    능동  37.552162  127.077254
9           군자CGV 앞   군자동  37.556179  127.078499
10      세종대정문 택시승강장   군자동  37.551325  127.076102
11       고신경정신과의원 앞  중곡2동  37.558389  127.080390
12          태양주유소 앞  중곡1동  37.561604  127.074684
13            올포유 앞  자양4동  37.536666  127.062876
14           우리은행 앞  중곡4동  37.557469  127.088244
15          MB모터스 옆  중곡1동  37.563496  127.078263
16           모두투어 앞   광장동  37.547576  127.106993
17           광현교회 앞   광장동  37.543670  127.102485
18           국민은행 앞  구의2동  37.545147  127.088409
19           공원약국 앞  중곡4동  37.552503  127.089727
20             군자빌딩   군자동  37.558432  127.075309
21            아씨방 앞    능동  37.554387  127.085692
22       아차산역5번출구 앞    능동  37.552012  127.078772
23          파리바게트 앞  자양2동  37.532063  127.079112
24        노인종합복지관 앞   군자동  37.551085  127.071596
25          중곡지구대 앞  중곡1동  37.563720  127.082788
26         강변스파랜드 앞  구의3동  37.534885  127.091307
27       건대입구1번출구 앞   화양동  37.541126  127.067932
28       건대입구3번출구 앞   화양동  37.540684  127.071412
29       건대분수광장 건너편   화양동  37.542190  127.071312
30        건국대병원 맞은편   화양동  37.540878  127.070781
31          건대역약국 앞  자양4동  37.540783  127.067397
32            구의사거리  구의2동  37.545795  127.086383
33           두산위브 앞   군자동  37.548461  127.071019
34        신성그랜드타워 앞  중곡1동  37.565062  127.080416
35         성자초등학교 옆  자양2동  37.531495  127.083563
36  한국보건의료인 국가시험원 앞  자양2동  37.531995  127.085371
37       중곡문화체육센터 앞  중곡3동  37.567767  127.084802
38   광장 힐스테이 상가 건너편   광장동  37.541809  127.098983
39     구의동 대림바스플랜 앞  구의1동  37.544176  127.084627
40       구의동 웰츠타워 앞  구의1동  37.538247  127.083852
41       구의동 금성빌라 앞  구의2동  37.554785  127.096822
42       이튼타워리버3차 앞  자양3동  37.532685  127.067879
43             광진광장   군자동  37.548161  127.071743
44        자양동 동제한의원  자양1동  37.535132  127.083842

In [617]:
df4.rename(columns={'동명':'행정동'},inplace=True)

In [618]:
df4=df4.groupby('행정동').agg(카메라수량=('행정동','count')).reset_index()

In [619]:
df4

     행정동  카메라수량
0    광장동      3
1   구의1동      2
2   구의2동      3
3   구의3동      8
4    군자동      6
5     능동      4
6   자양1동      1
7   자양2동      3
8   자양3동      1
9   자양4동      2
10  중곡1동      4
11  중곡2동      1
12  중곡3동      1
13  중곡4동      2
14   화양동      4

In [620]:
df5

       행정동       위도        경도
0      광장동  37.5442  127.0992
1      광장동  37.5442  127.0992
2      광장동  37.5442  127.0992
3     구의2동  37.5475  127.0981
4     구의2동  37.5544  127.0972
...    ...      ...       ...
4086   화양동  37.5421  127.0714
4087   화양동  37.5409  127.0709
4088   화양동  37.5409  127.0709
4089   화양동  37.5409  127.0709
4090  자양4동  37.5396  127.0695

[4091 rows x 3 columns]

In [621]:
df5=df5.groupby('행정동').agg(CCTV수량=('행정동','count')).reset_index()
df5

     행정동  CCTV수량
0    광장동     264
1   구의1동     281
2   구의2동     330
3   구의3동     275
4    군자동     308
5     능동     209
6   자양1동     234
7   자양2동     287
8   자양3동     216
9   자양4동     287
10  중곡1동     198
11  중곡2동     251
12  중곡3동     288
13  중곡4동     356
14   화양동     307

In [622]:
df7

   ADM_DR_NM   평균
0        광장동  3.6
1       구의1동  1.4
2       구의2동  1.4
3       구의3동  3.6
4       자양1동  2.0
5       자양2동  2.4
6       자양3동  2.4
7       자양4동  2.6
8        화양동  3.0
9        군자동  3.0
10      중곡1동  1.4
11      중곡2동  1.2
12      중곡3동  1.8
13      중곡4동  1.6
14        능동  3.0

In [623]:
df7.rename(columns={'ADM_DR_NM':'행정동'},inplace=True)

In [624]:
df8

,고정형CCTV지번주소,위도,경도,자치구,단속지점명,현장구분
0,서울 광진구 광장동 334-2,37.547790,127.106990,광진구,모두투어앞,불법주정차구역
1,서울 광진구 광장동 445-3,37.543799,127.102410,광진구,광현교회 앞,불법주정차구역
2,서울 광진구 구의동 135,37.549593,127.081780,광진구,아차산역 5번출구 앞,불법주정차구역
3,서울 광진구 군자동 503,37.548609,127.071072,광진구,두산위브 앞,불법주정차구역
4,서울 광진구 구의동 66-62,37.545348,127.088420,광진구,국민은행 앞,불법주정차구역
5,서울 광진구 구의동 68-29,37.545976,127.086327,광진구,구의사거리,불법주정차구역
6,서울 광진구 구의동 546-1,37.533558,127.093389,광진구,리젠트오피스텔건너편,불법주정차구역
7,서울 광진구 구의동 546-11,37.535562,127.093359,광진구,지너스타워 주차장 앞,불법주정차구역
8,서울 광진구 구의동 611,37.538347,127.096620,광진구,현대2단지아파트 앞,불법주정차구역
9,서울 광진구 구의동 546-6,37.535668,127.094522,광진구,강변역 1번 출구,불법주정차구역
10,서울 광진구 구의동 546-6,37.535668,127.094522,광진구,강변역 4번 출구,불법주정차구역
11,서울 광진구 구의동 547-7,37.533556,127.092096,광진구,동서울터미널 주차장 앞,불법주정차구역
12,서울 광진구 구의동 548-1,37.537558,127.097672,광진구,프라임아파트 정문(213동),불법주정차구역
13,서울 광진구 구의동 593-15,37.535074,127.091264,광진구,강변 스파랜드 앞,불법주정차구역
14,서울 광진구 군자동 364-15,37.551315,127.071524,광진구,노인종합복지관 앞,불법주정차구역
15,서울 광진구 군자동 477-18,37.556333,127.078490,광진구,군자 CGV 앞,불법주정차구역
16,서울 광진구 군자동 466-17,37.558614,127.075273,광진구,군자빌딩,불법주정차구역
17,서울 광진구 능동 18-10,37.546696,127.078784,광진구,어린이대공원 정문,불법주정차구역
18,서울 광진구 능동 247-11,37.554604,127.085645,광진구,아씨방 앞,불법주정차구역
19,서울 광진구 능동 315-8,37.552324,127.077209,광진구,서울시민안전체험관 앞,불법주정차구역
20,서울 광진구 군자동 249,37.551472,127.076016,광진구,세종대정문 택시승강장,불법주정차구역
21,서울 광진구 자양동 606-11,37.532199,127.079078,광진구,파리바게트 앞,불법주정차구역
22,서울 광진구 자양동 8-24,37.541005,127.067410,광진구,건대역약국 앞,불법주정차구역
23,서울 광진구 중곡동 165-6,37.563888,127.082772,광진구,중곡지구대 앞,불법주정차구역
24,서울 광진구 중곡동 247-6,37.563661,127.078227,광진구,MB모터스 옆,불법주정차구역
25,서울 광진구 중곡동 610-8,37.561855,127.074665,광진구,태양주유소 앞,불법주정차구역
26,서울 광진구 중곡동 161-44,37.558383,127.080377,광진구,고신경정신과의원 앞,불법주정차구역
27,서울 광진구 중곡동 79-9,37.557599,127.088160,광진구,우리은행 앞,불법주정차구역
28,서울 광진구 중곡동 115-9,37.552550,127.089722,광진구,공원약국 앞,불법주정차구역
29,서울 광진구 화양동 48-14,37.541118,127.067913,광진구,건대입구 1번 출구 앞,불법주정차구역
30,서울 광진구 화양동 4-20,37.540663,127.071413,광진구,건대입구 3번 출구 앞,불법주정차구역
31,서울 광진구 화양동 5-3,37.542164,127.071299,광진구,건대분수광장 건너편,불법주정차구역
32,서울 광진구 화양동 5-84,37.540849,127.070766,광진구,건국대병원 맞은편,불법주정차구역
33,서울 광진구 중곡동 231-2,37.565014,127.080397,광진구,신성그랜드타워 앞,불법주정차구역
34,서울 광진구 자양동 662-2,37.531472,127.083548,광진구,성자초등학교 옆,불법주정차구역
35,서울 광진구 자양동 679-30,37.532018,127.085371,광진구,한국보건의료인 국가시험원 앞,불법주정차구역
36,서울 광진구 중곡동 168-8,37.567767,127.084713,광진구,중곡문화체육센터 앞,불법주정차구역
37,서울 광진구 광장동 565,37.541929,127.099670,광진구,광장 힐스테이 상가 건너편,불법주정차구역
38,서울 광진구 자양동 239-1,37.536615,127.062808,광진구,올포유 앞,불법주정차구역
39,서울 광진구 구의동 253-15,37.544137,127.084627,광진구,구의동 대림바스플랜 앞,불법주정차구역
40,서울 광진구 구의동 252-16,37.538247,127.083852,광진구,구의동 웰츠타워 앞,불법주정차구역
41,서울 광진구 구의동 17-1,37.554630,127.096635,광진구,구의동 금성빌라 앞,불법주정차구역
42,서울 광진구 자양동 855,37.533363,127.068534,광진구,이튼타워리버3차 앞,불법주정차구역
43,서울 광진구 군자동 374-4,37.547781,127.071974,광진구,광진광장,불법주정차구역
44,서울 광진구 자양동 627-21,37.535226,127.084067,광진구,자양동 동제한의원 앞,불법주정차구역
45,서울 광진구 중곡4동 18-29,37.565215,127.086605,광진구,국립건강정신센터 건너(어린이보호구역),불법주정차구역
46,서울 광진구 자양동 694-1,37.532404,127.089536,광진구,성동초등학교(어린이보호구역),불법주정차구역
47,서울 광진구 자양동 547-64,37.537479,127.068305,광진구,CU 자양써밋플레이스점 앞,불법주정차구역
48,서울 광진구 화양동 303-9,37.543145,127.080322,광진구,구의초등학교 앞(어린이보호구역),불법주정차구역
49,서울 광진구 중곡동 649-3,37.557677,127.078754,광진구,군자역1번출구 명품갤러리,불법주정차구역
50,서울 광진구 중곡동 157-4,37.557062,127.080312,광진구,군자역4번출구 심서방 앞,불법주정차구역
51,서울 광진구 능동 220-4,37.556754,127.080131,광진구,군자역5번출구 가구할인매장 앞,불법주정차구역
52,서울 광진구 군자동 478-1,37.557303,127.078700,광진구,군자역8번부근 앞,불법주정차구역

In [625]:
df8.rename(columns={'자치구':'행정동'},inplace=True)

In [626]:
df8=df8.groupby('행정동').agg(불법주정차단속CCTV수량=('행정동','count')).reset_index()
df8
# 행정동 나누기

   행정동  불법주정차단속CCTV수량
0  광진구             53

In [627]:
df9

         주차장명  주차면수   시간당주차요금           경도         위도    동명
0    동서울호텔길 A    45        250  127.091861  37.534150  구의3동
1    동서울호텔길 A    47        250  127.091861  37.534150  구의3동
2     송림식당길 A    85        200  127.076033  37.534432  자양3동
3     송림식당길 B    17        200  127.075217  37.532882  자양3동
4        광진광장    36        250  127.073625  37.547741   군자동
5        자양4동    86        150  127.068162  37.538662  자양4동
6        구의1동   172        150  127.087849  37.538262  구의1동
7        구의3동   160        150  127.091335  37.539097  구의3동
8          능동    77         75  127.080217  37.554026    능동
9   중곡3동 마을공원   163         75  127.084637  37.569943  중곡3동
10    자양동 유수지   289        150  127.077510  37.529367  자양2동
11        화양동    44        150  127.072242  37.545561   화양동
12    중곡복개천 A    35        200  127.083247  37.561529  중곡2동
13    중곡복개천 B    44        200   27.083247  37.561529  중곡2동
14      신성시장길    38        250  127.088348  37.558038  중곡4동

In [628]:
df9.rename(columns={'동명':'행정동'},inplace=True)

In [629]:
df9.columns

Index(['주차장명', '주차면수', ' 시간당주차요금 ', '경도', '위도', '행정동'], dtype='object')

In [630]:
df9['행정동'].unique()

array(['구의3동', '자양3동', '군자동', '자양4동', '구의1동', '능동', '중곡3동', '자양2동', '화양동',
       '중곡2동', '중곡4동'], dtype=object)

In [631]:
df9=df9.groupby('행정동').agg({'주차면수':'sum',' 시간당주차요금 ':'sum'}).reset_index()
df9

     행정동  주차면수   시간당주차요금
0   구의1동   172        150
1   구의3동   252        650
2    군자동    36        250
3     능동    77         75
4   자양2동   289        150
5   자양3동   102        400
6   자양4동    86        150
7   중곡2동    79        400
8   중곡3동   163         75
9   중곡4동    38        250
10   화양동    44        150

In [632]:
df10

         시설명  시설구분         x좌표        y좌표    동명
0   어린이회관유치원   유치원  127.074938  37.547599    능동
1      현정유치원   유치원  127.088898  37.544478  구의1동
2     수정어린이집  어린이집  127.069405  37.549059   군자동
3     구의초등학교  초등학교  127.080862  37.542736   화양동
4    구의병설유치원   유치원  127.080862  37.542736   화양동
..       ...   ...         ...        ...   ...
75     경원유치원   유치원  127.096107  37.554870  구의2동
76     슬기유치원   유치원  127.092584  37.552053  구의2동
77    광진초등학교  초등학교  127.091210  37.547585  구의2동
78  구의2동어린이집  어린이집  127.096237  37.550176  구의2동
79    성동초등학교  초등학교  127.089506  37.532918  자양2동

[80 rows x 5 columns]

In [633]:
df10.rename(columns={'동명':'행정동'},inplace=True)

In [634]:
df10=df10.groupby('행정동').agg(어린이보호구역=('행정동','count')).reset_index()
df10

     행정동  어린이보호구역
0    광장동        9
1   구의1동        3
2   구의2동        9
3   구의3동        6
4    군자동        8
5     능동        2
6   자양1동        6
7   자양2동        8
8   자양3동        7
9   자양4동        3
10  중곡2동        3
11  중곡3동       10
12  중곡4동        2
13   화양동        4

In [635]:
df11

          어린이집명 어린이집유형구분  정원수  보육교직원수  보육실수  놀이터수    동명
0        EQ어린이집       가정   20       5     3     4   화양동
1     KB구의 어린이집       직장   49      15     4     1  구의2동
2     강변에코비어린이집       가정   19       5     4     0  구의3동
3     건대꼬마숲어린이집       민간   48       9     6     1   화양동
4      고은아이어린이집       가정   19       8     4     0  자양4동
..          ...      ...  ...     ...   ...   ...   ...
139     해오름어린이집       민간   24       4     4     0  구의2동
140     해피i어린이집       가정   19       7     4     1  자양3동
141    향기나무어린이집       가정   20       8     4     2   광장동
142  현대몬테소리어린이집       가정   20       8     5     0  구의3동
143  현대아이사랑어린이집       가정   19       6     4     0  구의3동

[144 rows x 7 columns]

In [636]:
df11.rename(columns={'동명':'행정동'},inplace=True)

In [637]:
df11.columns

Index(['어린이집명', '어린이집유형구분', '정원수', '보육교직원수', '보육실수', '놀이터수', '행정동'], dtype='object')

In [638]:
df11=df11.groupby('행정동').agg({'정원수':'sum'}).reset_index()
df11

     행정동  정원수
0    광장동  472
1   구의1동  435
2   구의2동  540
3   구의3동  478
4    군자동  368
5     능동  195
6   자양1동  488
7   자양2동  401
8   자양3동  627
9   자양4동  350
10  중곡1동  163
11  중곡2동  473
12  중곡3동  596
13  중곡4동  548
14   화양동  208

In [639]:
df12

,행정기관,계,인구수(남),인구수(여),지역(구성비),구성비(남),구성비(여),성비,세대수,세대당인구
0,광진구,337416,162541,174875,100.00,48.17,51.83,92.95,169291,1.99
1,중곡1동,15299,7322,7977,4.53,2.17,2.36,91.79,8504,1.80
2,중곡2동,20999,9903,11096,6.22,2.93,3.29,89.25,10656,1.97
3,중곡3동,15945,7897,8048,4.73,2.34,2.39,98.12,8513,1.87
4,중곡4동,28035,13715,14320,8.31,4.06,4.24,95.78,13122,2.14
5,능동,11180,5134,6046,3.31,1.52,1.79,84.92,6406,1.75
6,구의1동,23387,11143,12244,6.93,3.30,3.63,91.01,13077,1.79
7,구의2동,26043,12511,13532,7.72,3.71,4.01,92.45,11517,2.26
8,구의3동,28211,13309,14902,8.36,3.94,4.42,89.31,12079,2.34
9,광장동,34168,16524,17644,10.13,4.90,5.23,93.65,11814,2.89
10,자양1동,21862,10646,11216,6.48,3.16,3.32,94.92,11913,1.84
11,자양2동,23946,11612,12334,7.10,3.44,3.66,94.15,10887,2.20
12,자양3동,27553,13166,14387,8.17,3.90,4.26,91.51,11009,2.50
13,자양4동,17926,8915,9011,5.31,2.64,2.67,98.93,10209,1.76
14,화양동,23437,11141,12296,6.95,3.30,3.64,90.61,18185,1.29
15,군자동,19425,9603,9822,5.76,2.85,2.91,97.77,11400,1.70

In [640]:
df12=df12.drop(0).reset_index(drop=True)

In [641]:
df12.rename(columns={'행정기관':'행정동'},inplace=True)

In [651]:
df = pd.merge(df1,df2,how='outer', on='행정동')
df = pd.merge(df,df3,how='outer', on='행정동')
df = pd.merge(df,df4,how='outer', on='행정동')
df = pd.merge(df,df5,how='outer', on='행정동')
df = pd.merge(df,df7,how='outer', on='행정동')
df = pd.merge(df,df9,how='outer', on='행정동')
df = pd.merge(df,df10,how='outer', on='행정동')
df = pd.merge(df,df11,how='outer', on='행정동')
df = pd.merge(df,df12,how='outer', on='행정동')

In [652]:
df

,행정동,사고건수,수량,주차면수 소계,주차요금 5분당,카메라수량,CCTV수량,평균,주차면수,시간당주차요금,...,정원수,계,인구수(남),인구수(여),지역(구성비),구성비(남),구성비(여),성비,세대수,세대당인구
0,광장동,284,8.0,28,0,3,264,3.6,NaN,NaN,...,472,34168,16524,17644,10.13,4.90,5.23,93.65,11814,2.89
1,구의1동,204,3.0,206,150,2,281,1.4,172.0,150.0,...,435,23387,11143,12244,6.93,3.30,3.63,91.01,13077,1.79
2,구의2동,204,4.0,113,75,3,330,1.4,NaN,NaN,...,540,26043,12511,13532,7.72,3.71,4.01,92.45,11517,2.26
3,구의3동,204,16.0,272,400,8,275,3.6,252.0,650.0,...,478,28211,13309,14902,8.36,3.94,4.42,89.31,12079,2.34
4,군자동,273,5.0,89,250,6,308,3.0,36.0,250.0,...,368,19425,9603,9822,5.76,2.85,2.91,97.77,11400,1.70
5,능동,134,NaN,102,150,4,209,3.0,77.0,75.0,...,195,11180,5134,6046,3.31,1.52,1.79,84.92,6406,1.75
6,자양1동,206,10.0,24,250,1,234,2.0,NaN,NaN,...,488,21862,10646,11216,6.48,3.16,3.32,94.92,11913,1.84
7,자양2동,206,8.0,281,150,3,287,2.4,289.0,150.0,...,401,23946,11612,12334,7.10,3.44,3.66,94.15,10887,2.20
8,자양3동,206,6.0,94,200,1,216,2.4,102.0,400.0,...,627,27553,13166,14387,8.17,3.90,4.26,91.51,11009,2.50
9,자양4동,206,2.0,139,150,2,287,2.6,86.0,150.0,...,350,17926,8915,9011,5.31,2.64,2.67,98.93,10209,1.76
10,중곡1동,139,6.0,21,250,4,198,1.4,NaN,NaN,...,163,15299,7322,7977,4.53,2.17,2.36,91.79,8504,1.80
11,중곡2동,139,3.0,100,200,1,251,1.2,79.0,400.0,...,473,20999,9903,11096,6.22,2.93,3.29,89.25,10656,1.97
12,중곡3동,139,5.0,168,75,1,288,1.8,163.0,75.0,...,596,15945,7897,8048,4.73,2.34,2.39,98.12,8513,1.87
13,중곡4동,139,11.0,173,250,2,356,1.6,38.0,250.0,...,548,28035,13715,14320,8.31,4.06,4.24,95.78,13122,2.14
14,화양동,457,2.0,77,150,4,307,3.0,44.0,150.0,...,208,23437,11141,12296,6.95,3.30,3.64,90.61,18185,1.29